* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  a,
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  dl,
  dt,
  dd,
  table,
  th,
  td,
  form,
  fieldset,
  legend,
  input,
  textarea,
  button,
  select {
    margin: 0;
    padding: 0;
  }
  
  textarea {
    resize: none;
  }
  
  body,
  input,
  textarea,
  select,
  button {
    font-family: 'Gowun Batang', serif;
    font-size: 12px;
  }
  
  fieldset,
  img {
    border: 0;
  }
  
  img {
    vertical-align: top;
  }
  
  li,
  ol,
  ul {
    list-style: none;
  }
  
  body,
  html {
    height: 100%;
    font-style: normal;
    line-height: 1.6;
    -webkit-text-size-adjust: none;
  }
.wrap{text-align: center;}
.bg{position: relative;display: inline-block;}
.bg img{max-width: 375px;}
.content{position: absolute;top: 100px;left: 38px;width: 298px; height: 530px; background-color: #fff;}
.text1 {
    padding: 20px 0;
    font-size: 26px;
    text-align: center;
    font-weight: 100;
}
.img-box {
    margin-bottom: 20px;
}
.img-box img {
  height: 250px;
}
.left p{
    text-align: center;
}
.right {
    margin-top: 20px;
}
.right p{
    text-align: center;
}
.text3{margin-top: 5px;}

.text6 span {
    font-size: 10px;
}